@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
    --color-primary: #c14633;
    --color-secondary: #e6ad28;
    --color-accent: #7fbda3;
    --color-background: #f7ecbf;
    --color-text: #40362b;
}

@layer utilities {
  .bg-retro-stripes {
    background: linear-gradient(
      to bottom,
    #c14633 0px,
    #c14633 15%,
    rgba(0, 0, 0, 0) 15%,
    rgba(0, 0, 0, 0) 21.25%,
    #e6ad28 21.25%,
    #e6ad28 36.25%,
    rgba(0, 0, 0, 0) 36.25%,
    rgba(0, 0, 0, 0) 42.5%,
    #7fbda3 42.5%,
    #7fbda3 57.5%,
    rgba(0, 0, 0, 0) 57.5%,
    rgba(0, 0, 0, 0) 63.75%,
    #e6ad28 63.75%,
    #e6ad28 78.75%,
    rgba(0, 0, 0, 0) 78.75%,
    rgba(0, 0, 0, 0) 85%,
    #c14633 85%,
    #c14633 100%
    );
  }

  .retro-multi-shadow {
    text-shadow: 0.04em 0.04em 0px #c14633, 0.08em 0.08em 0px #e6ad28, 0.12em 0.12em 0px #7fbda3;
  }
}