@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
    --color-primary: #c14633;
    --color-secondary: #e6ad28;
    --color-accent: #7fbda3;
    --color-background: #f7ecbf;
    --color-text: #40362b;
}

@layer utilities {
  .bg-retro-stripes {
    background: linear-gradient(
      to bottom,
    #c14633 0px,
    #c14633 20%,
    #e6ad28 20%,
    #e6ad28 40%,
    #7fbda3 40%,
    #7fbda3 60%,
    #e6ad28 60%,
    #e6ad28 80%,
    #c14633 80%,
    #c14633 100%
    );
  }

  .retro-multi-shadow {
    text-shadow: 0.04em 0.04em 0px #c14633, 0.08em 0.08em 0px #e6ad28, 0.12em 0.12em 0px #7fbda3;
  }
}